 NET "b[0]"  LOC = T20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "b[1]"  LOC = R20       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "b[2]"  LOC = T22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "b[3]"  LOC = T23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "g[0]"  LOC = R22       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "g[1]"  LOC = R23       | IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "g[2]"  LOC = T24	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "g[3]"  LOC = T25 	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "r[0]"  LOC = N21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "r[1]"  LOC = N22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "r[2]"  LOC = R21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "r[3]"  LOC = P21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "hs"    LOC = M22	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;
 NET "vs"    LOC = M21	| IOSTANDARD = LVCMOS33 | SLEW = FAST ;

#PS2
NET "ps2_clk"	LOC = N18     	| IOSTANDARD = LVCMOS33 |PULLUP ; 
NET "ps2_data"	LOC = M19     	| IOSTANDARD = LVCMOS33 |PULLUP;

NET "SEGMENT[0]"		LOC = AB22      | IOSTANDARD = LVCMOS33 ;#a
NET "SEGMENT[1]" 		LOC = AD24		 | IOSTANDARD = LVCMOS33 ;#b
NET "SEGMENT[2]" 		LOC = AD23		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[3]" 		LOC = Y21		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[4]" 		LOC = W20		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[5]" 		LOC = AC24		 | IOSTANDARD = LVCMOS33 ;
NET "SEGMENT[6]" 		LOC = AC23		 | IOSTANDARD = LVCMOS33 ;#g
NET "SEGMENT[7]" 		LOC = AA22		 | IOSTANDARD = LVCMOS33 ;#point

NET "AN[0]" 			LOC = AD21      | IOSTANDARD = LVCMOS33 ;
NET "AN[1]" 			LOC = AC21      | IOSTANDARD = LVCMOS33 ;
NET "AN[2]" 			LOC = AB21      | IOSTANDARD = LVCMOS33 ;
NET "AN[3]" 			LOC = AC22      | IOSTANDARD = LVCMOS33 ;

NET "clk"        LOC=AC18    |    IOSTANDARD=LVCMOS18;

NET "key_changed"				LOC = W23    | IOSTANDARD = LVCMOS33;

NET "vga_rstn"				LOC = AF13     | IOSTANDARD = LVCMOS15;
NET "clear_n"				LOC = AF10     | IOSTANDARD = LVCMOS15;
NET "init_scene[1]"				LOC = AE13     | IOSTANDARD = LVCMOS15;
NET "init_scene[0]"				LOC = AF8     | IOSTANDARD = LVCMOS15;

NET "SEG_CLK"        LOC = M24   | IOSTANDARD = LVCMOS33 ;
NET "SEG_CLR"        LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEG_DT"     LOC = L24    | IOSTANDARD = LVCMOS33 ;
NET "SEG_EN"     LOC = R18    | IOSTANDARD = LVCMOS33 ;
